.DS_Store
.dart_tool/

.packages
.pub/

build/
/.idea/
pubspec.lock
*.arb
/example/ios/.symlinks/
/example/android/.idea/
/example/android/app/src/debug/
/example/android/app/src/profile/
/android/.idea/
/example/ios/.symlinks/plugins/rave_flutter/pubspec.yaml
